.input-field-wrapper {
  
  .input-field {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid #9e9e9e;
    color: #353535;
    margin-left: 22px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 20px;

      &::placeholder {
        font-size: 14px;
        font-weight: 500;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
 }

    .input-field-wrapper__ruble {
      font-size: 19px;
      font-weight: 600;
      margin-left: 7px;
      color: #353535;
    }
}