.radio-input {
    accent-color: #232323;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 2px;
    }

    label {
        span {
            font-weight: 600;
            opacity: 0.8;
            margin-left: 2px
          }
    }

    .radio-input__popup {
        position: relative;

        .radio-input__popup-switch {
            width: 15px;
            height: 15px;
            color: #a9a9a9;
            display: flex;
            border: 1px solid #a9a9a9;
            border-radius: 50%;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            transition: .2s;
            cursor: pointer;

            &:hover {
                border: 1px solid #490097;
                color: #490097;
        }
        }
    }

    .min-wage-popup {
        position: absolute;
        width: 220px;
        min-height: 70px;
        background-color: #4545ce;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        padding: 15px;
        top: 40px;
        left: 13px;
        z-index: 10;
        line-height: 25px;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -18px;
            left: 0;
            border-right: 15px solid transparent;
            border-bottom: 20px solid #4545ce;
            margin: 0;
            z-index: 100;
        }        
    }
}